@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap')

html
{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --text-1: #2C3333;
    --text-2: #004AAD;
    --background: #F0F6F8;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-1);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;

    line-height: 1.8rem;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--text-1);

}


/**NAVBAR**/

nav
{
    background:  var(--background);

}
.nav-sec {
   
    justify-content: space-between;
    padding-top: 40px;
    
    

}

.nav-sec span {
    color: #b76f5c;
}

.comp-logo img {
    width: 100px;
}

.nav-link {
    margin-right: 60px;
    flex-basis: 730px;
    padding-left: 40px;
}
.bnda img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}
.nav-link ul {
    justify-content: flex-end;
    gap: 20px;
    list-style: none;
}

.hover-link {
   font-size: 1.2rem;
    font-weight: 600;
    color: var(--text1);
    transition: 0.2s ease-out;
    animation: hr 0.3s;
}
.container li {
    padding-inline: var(--padding-inline-section);
}


.hover-link:hover {
    color: var(--text-2);

}

.primary {
    padding: 12px 24px;
    background-color: var(--background);
    border-radius: 6px;
    font-weight: 500;
    color: var(--text-1);
    box-shadow: 0 0 2px var(--text-1);
    transition: 0.2s ease-out;
    text-align: center;
}

.primary:hover {
    background-color: var(--accent-color-dark);
   color: aliceblue;

}

.secondary {
    padding: 12px 24px;
    border-style: solid;
    border-width: thin;
    border-color: var(--text-1);
    border-radius: 6px;
    font-weight: 500;

    border-shadow: 0 0 2px var(--text-1);
    color: var(--text-1);
    transition: 0.2s ease-out;
    text-align: center;
}

.secondary:hover {
    border-color: var(--text-2);
    color: var(--text-2);

}


/**banner***/
.ban
{
    background: var(--background);
    
}
.ban-sec
{
    padding-top: 60px;
    gap:10px;
    flex-direction: column;
    padding-bottom: 30px;
    
}
.ban-1
{
    gap:40px;
    transform: translateY(-20px);
}
.left-ban {
   
    max-width: 40vw;
    flex-direction: column;
    gap:10px;
    font-weight: 600;
    padding-left:40px;

}
.left-ban h1
{
    font-size: 6.5rem;
    font-weight: 600;

}
.left-ban p
{
    transform: translateX(50px);
}
.right-ban {


    max-width: 600px;
}

.right-ban img
{
    width: 100%;
}

.search-outer
{
    background: var(--text-2);
    border-radius: 10px;
    gap:20px;
    min-width: 60%;
    padding: 15px;

}
/**.search-box
{
    min-width: 24%;
    justify-content: space-around;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    padding: 10px;
    background: var(--background);
 
}**/
select {
  
  padding: 12px 20px;
  
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
.search-outer a
{
    width: 100%;
    text-align: center;
  background-color: #2294ed;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    
}
.search-outer a:hover
{
    background-color: #1d69a3;
}
input[type=submit] {
  width: 100%;
  background-color: #2294ed;
  color: white;
  padding: 12px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1d69a3;
}


/**tracks sec**/

.track
{
    padding-top:80px;
    background: #fff;
}

.track-sec
{
    flex-direction: column;
    gap:20px;
}
.grid-area {
    padding-top: 40px;
    justify-content: space-around;
   
    gap: 40px;
  
}

.grid {
    height: 300px;
    width: 250px ;
    flex-direction: column;
    gap: 10px;
    background: var(--background);
    
    border-bottom: .5rem solid #004AAD;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 17px;

    padding-bottom: 26px;


}
.i1
{
    width: 120px;
}
.grid img {
    transform: translateY(-40px);
    width: 80px;
}
.grid p
{
    font-size:1rem;
    text-align: center;
}
/**help sec***/
.help
{
    padding-top:150px;
}
.help-sec
{
    flex-direction: column;
    gap:40px;
}
.help-sec .grid 
{
   text-align: center;
     
   
}
.help-sec .grid h3
{
    transform: translateY(-25px);
}
.help-sec .grid p
{
    text-align: justify;
    font-size:0.8rem;
    line-height: 1rem;
    font-weight: 700;
}
.help .grid img
{
    transform: translate(-80px,-35px);
}

/**inv sec**/
.investor
{
    padding-top: 90px;
    padding-bottom: 90px;
}
.inv-sec
{

    flex-direction: column;
    gap:20px;
    text-align: center;
    
}

.inv-sec .grid
{
    border:.5rem solid #8AA2D4;
}


/**join us**/

.join-us
{
    padding-top:50px;
}
.join-sec
{
    flex-direction: column;
    text-align: center;
    gap:30px;
}

.join-sec .grid
{
    min-width:45%;
    padding:20px; 
    background:#C9D8D7;
    text-align: center;
    height: 230px;
  
    border-style: none;
    gap:25px;
}
.shapes
{
    gap:60px;
      
   
}
.circle-area
{
    gap:20px;
     transform: translateX(-90px);
}
.circle
{
    width:150px;
    height: 150px;
    border-radius: 50%;
    background:#8AA2D4 ;
    padding: 20px;
  
}
.circle p
{
    font-size: 1.2rem;
    font-weight: 550;
    text-align: center;
}

/*footer*/

.footer-container
{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 80px;
    
}
.link-column {
    padding-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 20px;
}
.link-column .hover-link
{
    font-size: 1.1rem;
}

.footer-container {
  
    padding-top: 80px;
    max-width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

/*sub footer*/
/* subfooter */

.subfooter {
    margin-top: 30px;
    background: #8AA2D4;
    padding: var(--padding-inline-section);
    
}

.subfooter-container {
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    font-size: .84rem;
}
